body {
    width: 100vw;
    height: 100vh;
    background: rgb(90, 82, 187);
    background: rgb(187,236,230);
background: linear-gradient(90deg, rgba(187,236,230,1) 0%, rgba(187,236,230,1) 0%, rgba(255,255,255,1) 50%, rgba(187,236,230,1) 100%);
}

#img {
    width: 300px !important;
    perspective: 2500;
    transition: 1s ease;
}

#header {
    height: 100%;
    background-color: rgb(187, 236, 230) !important;
}

#main {
    height: 100%;
}

#footer {
    height: 100%;
}

#section1 a :hover {
    transform: scale(1.1); 
}

#section2 a :hover {
    transform: scale(1.1);
}

#section3 a :hover {
    transform: scale(1.1);
}

#placa{ width: 100%; display: block; width: 68vw;}
#pcgamer{ width: 100%; display: block; width: 68vw;}
#micro{ width: 100%; display: block; width: 68vw;}

#btn{width: 80%;}


#font_nosotros{font-size: 4rem !important;}

#font_nosotros2{font-size: 2rem !important;}

#foto_Nosotros{width: 50%; !important}