#footer {
    height: 100%;

    #font_nosotros {
        font-family: $Font;
        font-size: 3rem;
        color: $ColorFont;
    }

    #foto_nosotros {
        width: 10vw;
    }

    #font_nosotros2 {
        font-family: $Font;
        font-size: 2rem;
        color: $ColorFont;
    }
}