 
  #header {
    height: 100%;


    #img {
      width: 300px !important;
      -webkit-perspective: 2500;
              perspective: 2500;
      -webkit-transition: 1s ease;
      transition: 1s ease;
    }
  }

  