#main {
    height: 100%;


    #section1 a :hover {
        transform: scale(1.1);
    }


    #placa {

        display: block;
        width: 68vw;
    }
}

#section2 a :hover {
    transform: scale(1.1);

    #pcgamer {

        display: block;
        width: 68vw;
    }
}

#section3 a :hover {
    transform: scale(1.1);


    #micro {

        display: block;
        width: 68vw;
    }


    


}