h1 {
    font-family: $Font;
    text-align: center;
    color: $ColorFont;
    
}

h2 {
    font-family: $Font;
    text-align: center;
    color: $ColorFont ;
   
}

p {
    font-family: $Font;
    text-align: center;
    color: $ColorFont ;
}