

$Font:'Noto Sans', sans-serif;

$BackgroundColor: linear-gradient(90deg, rgba(187,236,230,1) 0%, rgba(228,254,254,1) 51%, rgba(187,236,230,1) 100%);

$ColorFont: rgb(39, 46, 46);

$Color:  rgb(18, 243, 243);


%Pararedes{
    margin: 10px;
    border-radius: 15px;
    &:hover{ background-color: yellow}
};